# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
.venv
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# PyBuilder
target/

# gedit backup files
*~

# remove pycharm boilerplate files
.idea

# ipynb example stuff
.ipynb_checkpoints/
ipynb_tmp/
*.parquet

# mypy
.mypy_cache/

# playground
/data/
playground/
.devcontainer/

# build data
examples/*/*.html
examples/*/*.csv
static/docs
docsrc/_build/
docsrc/source/pages/api/_autosummary/

# User created
VERSION
version.py
