include LICENSE
include pandas_profiling/visualisation/*.mplstyle
recursive-include pandas_profiling/report/presentation/flavours/html/templates *.html
recursive-include pandas_profiling/report/presentation/flavours/html/templates/assets *.js *.css
include pandas_profiling/*.yaml
include README.md
