# Requirements
include requirements*.txt

# Include license, Readme, etc.
include LICENSE
include *.md

# Templates and static resources
recursive-include src/ydata_profiling/report/presentation/flavours/html/templates *.html *.js *.css

# Configuration
include src/ydata_profiling/*.yaml

# Spark Dev venv
recursive-include venv *.yml

# Exclude development, docs, testing and example code
exclude .pre-commit-config.yaml
exclude commitlint.config.js
exclude .releaserc.json
exclude Makefile make.bat
exclude docs examples tests docsrc .devcontainer
recursive-exclude docs *
recursive-exclude docsrc *
recursive-exclude examples *
recursive-exclude tests *
recursive-exclude .devcontainer *
