pytest
coverage<5
codecov
pytest-mypy>=0.7.0

# this is because mypy had an issue where singledispatch _ usage resulted in errors
# https://github.com/python/mypy/issues/4117
mypy>=0.761

pytest-cov
pytest-black
nbval
fastparquet==0.5.0
flake8
check-manifest>=0.42
twine>=3.1.1
kaggle
