scipy>=1.4.1
pandas>=0.25.3
matplotlib>=3.0.3
confuse==1.0.0
jinja2==2.11.1
visions==0.2.3
htmlmin==0.1.12
missingno==0.4.2
phik==0.9.9
requests==2.22.0
numpy>=1.16.0
astropy>=3.2.3
tangled-up-in-unicode==0.0.3
tqdm==4.42.1
statsmodels==0.11.0
