scipy>=1.4.1
requests>=2.22.0
missingno==0.4.2
matplotlib>=3.0.3
jinja2==2.11.1
numpy>=1.16.0
pandas==0.25.3
htmlmin==0.1.12
phik==0.9.9
confuse==1.0.0
astropy>=3.2.3
tangled-up-in-unicode==0.0.3
visions==0.2.2
tqdm==4.42.0