select
    count(*),
    bucket,
    ({{ max }} / {{ nbins }}) * bucket as left
from
    (
    select
        {{ col }},
        WIDTH_BUCKET({{ col }}, {{ min }}, {{ max }}, {{ nbins }}) as bucket
    from
        {% if schema | len > 0 %}{{ schema }}.{% endif %}{{ table }}
    ) as bucketed
group by bucket
order by bucket
