<div class="col-sm-{{ nb_col }} collapse in" id="minifreqtable{{ varid }}">
    <table class="mini freq">
        {% for row in rows %}
            <tr class="{{ row['extra_class'] }}">
                <th>{{ row['label'] | fmt }}</th>
                <td>
                    <div class="bar"
                         style="width:{{ row['width'] | fmt_percent(edge_cases=False) }}"
                         data-toggle="tooltip"
                         data-placement="right"
                         data-html="true"
                         data-delay=500
                         title="Percentage: {{ row['percentage'] | fmt_percent }}">
                        {% if row['width'] > 0.20 %}
                            {{ row['count'] }}
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </div>
                    {% if row['width'] <= 0.20 %}
                        {{ row['count'] }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>