{% if values | length > 0 %}
    <div class="row header">
        <a class="anchor-pos" id="sample"></a>
        <h1 class="page-header">Sample</h1>
    </div>
    {% if 'head' in values %}
    <div class="row variable">
        <h2 class="indent">First rows</h2>
        <div id="sample-head" class="col-sm-12">
            {{ values['head'] }}
        </div>
    </div>
    {% endif %}
    {% if 'tail' in values %}
    <div class="row variable">
        <h2 class="indent">Last rows</h2>
        <div id="sample-tail" class="col-sm-12">
            {{ values['tail'] }}
        </div>
    </div>
    {% endif %}
{% endif %}