{% with vartype='Categorical' %}
    {% include '_row_header.html' %}
{% endwith %}
<div class="col-sm-3">
    <table class="stats">
        <tr class="{{ values['row_classes']['distinct_count'] }}">
            <th>Distinct count</th>
            <td>{{ values['distinct_count'] }}</td>
        </tr>
        <tr>
            <th>Unique (%)</th>
            <td>{{ values['p_unique'] | fmt_percent }}</td>
        </tr>
        <tr class="{{ values['row_classes']['missing'] }}">
            <th>Missing (%)</th>
            <td>{{ values['p_missing'] | fmt_percent }}</td>
        </tr>
        <tr class="{{ values['row_classes']['missing'] }}">
            <th>Missing (n)</th>
            <td>{{ values['n_missing'] }}</td>
        </tr>
    </table>
</div>
{{ values['minifreqtable'] }}
<div class="col-sm-12 text-right">
    <a role="button" data-toggle="collapse"
       data-target="#descriptives{{ values['varid'] }}, #minifreqtable{{ values['varid'] }}"
       aria-expanded="true" aria-controls="collapseExample">
        Toggle details
    </a>
</div>
<div class="row collapse col-sm-12" id="descriptives{{ values['varid'] }}">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#freqtable{{ values['varid'] }}"
                                                  aria-controls="freqtable{{ values['varid'] }}"
                                                  role="tab" data-toggle="tab">Frequency</a>
        </li>
        {% if values['composition'] %}
            <li role="presentation">
                <a href="#composition{{ values['varid'] }}"
                                       aria-controls="composition{{ values['varid'] }}" role="tab"
                                       data-toggle="tab">Composition</a>
            </li>
        {% endif %}
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active col-sm-12" id="freqtable{{ values['varid'] }}">
            {{ values['freqtable'] }}
        </div>
        {% if values['composition'] %}
            <div role="tabpanel" class="tab-pane extrapadding row" id="composition{{ values['varid'] }}">
                <div class="col-sm-4">
                    <table class="stats indent">
                        <tr class="{{ values['row_classes']['max_length'] }}">
                            <th>Max length</th>
                            <td>{{ values['max_length'] | fmt_numeric }}</td>
                        </tr>
                        <tr class="{{ values['row_classes']['mean_length'] }}">
                            <th>Mean length</th>
                            <td>{{ values['mean_length'] | fmt_numeric }}</td>
                        </tr>
                        <tr class="{{ values['row_classes']['min_length'] }}">
                            <th>Min length</th>
                            <td>{{ values['min_length'] | fmt_numeric }}</td>
                        </tr>
                        {% for key in values['composition'] %}
                            <tr>
                                <th>Contains {{ key }}</th>
                                <td>{{ values['composition'][key] }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
</div>

{% include '_row_footer.html' %}