{% with vartype='Boolean' %}
    {% include '_row_header.html' %}
{% endwith %}
<div class="col-sm-6">
    <div class="row">
        <div class="col-sm-6">
            <table class="stats ">
                <tr class="{{ values['row_classes']['distinct_count'] }}">
                    <th>Distinct count</th>
                    <td>{{ values['distinct_count'] }}</td>
                </tr>
                <tr>
                    <th>Unique (%)</th>
                    <td>{{ values['p_unique'] | fmt_percent }}</td>
                </tr>
                <tr class="{{ values['row_classes']['missing'] }}">
                    <th>Missing (%)</th>
                    <td>{{ values['p_missing'] | fmt_percent }}</td>
                </tr>
                <tr class="{{ values['row_classes']['missing'] }}">
                    <th>Missing (n)</th>
                    <td>{{ values['n_missing'] }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{{ values['minifreqtable'] }}
<div class="col-sm-12 text-right">
    <a role="button" data-toggle="collapse" data-target="#freqtable{{ values['varid'] }}, #minifreqtable{{ values['varid'] }}"
        aria-expanded="true" aria-controls="collapseExample">
        Toggle details
    </a>
</div>
<div class="col-sm-12 extrapadding collapse" id="freqtable{{ values['varid']  }}">
    {{ values['freqtable'] }}
</div>
{% include '_row_footer.html' %}