<div class="col-sm-4 col-sm-offset-1">
    <p class="h4">Quantile statistics</p>
    <table class="stats indent">
        <tr>
            <th>Minimum</th>
            <td>{{ values['min'] | fmt_numeric }}</td>
        </tr>
        <tr>
            <th>5-th percentile</th>
            <td>{{ values['5%'] | fmt_numeric }}</td>
        </tr>
        <tr>
            <th>Q1</th>
            <td>{{ values['25%'] | fmt_numeric }}</td>
        </tr>
        <tr>
            <th>Median</th>
            <td>{{ values['50%'] | fmt_numeric }}</td>
        </tr>
        <tr>
            <th>Q3</th>
            <td>{{ values['75%'] | fmt_numeric }}</td>
        </tr>
        <tr>
            <th>95-th percentile</th>
            <td>{{ values['95%'] | fmt_numeric }}</td>
        </tr>
        <tr>
            <th>Maximum</th>
            <td>{{ values['max'] | fmt_numeric }}</td>
        </tr>
        <tr>
            <th>Range</th>
            <td>{{ values['range'] | fmt_numeric }}</td>
        </tr>
        <tr>
            <th>Interquartile range</th>
            <td>{{ values['iqr'] | fmt_numeric }}</td>
        </tr>
    </table>
    </div>
    <div class="col-sm-4 col-sm-offset-2">
    <p class="h4">Descriptive statistics</p>
    <table class="stats indent">
        <tr>
            <th>Standard deviation</th>
            <td>{{ values['std'] | fmt_numeric }}</td>
        </tr>
        <tr>
            <th>Coef of variation</th>
            <td>{{ values['cv'] | fmt_numeric }}</td>
        </tr>
        <tr>
            <th>Kurtosis</th>
            <td>{{ values['kurtosis'] | fmt_numeric }}</td>
        </tr>
        <tr>
            <th>Mean</th>
            <td>{{ values['mean'] | fmt_numeric }}</td>
        </tr>
        <tr>
            <th>MAD</th>
            <td>{{ values['mad'] | fmt_numeric }}</td>
        </tr>
        <tr class="{{ values['row_classes']['skewness'] }}">
            <th>Skewness</th>
            <td>{{ values['skewness'] | fmt_numeric }}</td>
        </tr>
        <tr>
            <th>Sum</th>
            <td>{{ values['sum'] | fmt_numeric }}</td>
        </tr>
        <tr>
            <th>Variance</th>
            <td>{{ values['variance'] | fmt_numeric }}</td>
        </tr>
        <tr>
            <th>Memory size</th>
            <td>{{ values['memorysize'] | fmt_bytesize }}</td>
        </tr>
    </table>
</div>