.wy-menu-vertical header, .wy-menu-vertical p.caption{
    color: #e32212;
}

a{
    color: #e32212;
}

.wy-side-nav-search input[type=text] {
    border-color: #e32212;
}

.text-pink {
    color: #166FF5 !important;
}

/*
dark: 174C4F
middle: 247080
light: 36acb3
 */