{% extends "!layout.html" %}
{% block menu %}
    {{ super() }}

    <div style="padding-top: 20px">
        <a href="https://github.com/sponsors/sbrugman">
            <summary id="sponsor-button-repo" class="btn btn-sm" title="Sponsor pandas-profiling/pandas-profiling" data-ga-click="Repository, show sponsor modal, action:files#disambiguate; text:Sponsor" role="button">
              <svg class="octicon octicon-heart text-pink v-align-text-bottom" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M8.727 3C7.091 3 6.001 4.65 6.001 4.65S4.909 3 3.273 3C1.636 3 0 4.1 0 6.3 0 9.6 6 14 6 14s6-4.4 6-7.7C12 4.1 10.364 3 8.727 3z"></path></svg>
              Sponsor
            </summary>
        </a>
    </div>

{#    <div class="rst-versions" data-toggle="rst-versions" role="note" aria-label="versions">#}
{#      <span class="rst-current-version" data-toggle="rst-current-version">#}
{#        <span class="fa fa-book"> Other Versions</span>#}
{#        v: 2.7.0#}
{#        <span class="fa fa-caret-down"></span>#}
{#      </span>#}
{#      <div class="rst-other-versions">#}
{#        <dl>#}
{#          <dt>Tags</dt>#}
{#          <dd><a href="test">v2.7.0</a></dd>#}
{#        </dl>#}
{#        <dl>#}
{#          <dt>Branches</dt>#}
{#          <dd><a href="test">latest</a></dd>#}
{#          <dd><a href="test">development</a></dd>#}
{#        </dl>#}
{#      </div>#}
{#    </div>#}
{% endblock %}